## Aryo Adi Putro - 2341720084
## TI-3G

In [3]:
!pip install -q pandas matplotlib numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('Titanic-Dataset.csv')
import seaborn as sns # Import seaborn for enhanced visualization

In [4]:
# Praktikum 3

print("Slice Data")

df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']]
df.head()

Slice Data

   Survived  Pclass   Age     Sex Cabin
0         0       3  22.0    male   NaN
1         1       1  38.0  female   C85
2         1       3  26.0  female   NaN
3         1       1  35.0  female  C123
4         0       3  35.0    male   NaN

In [5]:
from sklearn.preprocessing import LabelEncoder # Import LabelEncoder
le = LabelEncoder() # membuat objek dari LabelEncoder
df['Sex'] = le.fit_transform(df['Sex']) # proses encoding
df['Cabin'] = le.fit_transform(df['Cabin']) # proses encoding

print("Verifikasi Hasil Setelah Encoding")
df.head()

Verifikasi Hasil Setelah Encoding

   Survived  Pclass   Age  Sex  Cabin
0         0       3  22.0    1    147
1         1       1  38.0    0     81
2         1       3  26.0    0    147
3         1       1  35.0    0     55
4         0       3  35.0    1    147

In [6]:
import sklearn.preprocessing as scaler

std = scaler.StandardScaler()
df['Age'] = std.fit_transform(df[['Age']])

df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.530377    1    147
1         1       1  0.571831    0     81
2         1       3 -0.254825    0    147
3         1       1  0.365167    0     55
4         0       3  0.365167    1    147